.main{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    display: none;
}
.main.error{
    color: #da2b3c;
    background: #f8d7da;
    border: none;
    display: block;
}
.main.pending{
    color: #0c6460;
    background: #d1ecf1;
    border: none;
    display: block;
}

.weather{
    display: none;
}

.BG{
    background-image: url("https://images.unsplash.com/photo-1499123785106-343e69e68db1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80");
    overflow: hidden;
    width: 100vw;
    background-position: center;
    object-fit: cover;
}
